@model TicketSys.Application.DTOs.UnitDTO
@{
    ViewData["Title"] = "Criar Unidade";
}

<div class="bg-light p-3 rounded shadow-sm">
    <h2>Criar Unidade</h2>
    <form asp-action="Create" method="post" class="form-group">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Salvar</button>
        <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Voltar</a>
    </form>
</div>

@section Scripts {
    <script>
        document.querySelector('form').addEventListener('submit', function () {
            showProcessing()
        });

        window.addEventListener('pageshow', function () {
            hideProcessing();
        });
    </script>
}