html {
  font-size: 14px;
  height: 100%; /* garante altura total */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  min-height: 100%;      /* corpo ocupa tela inteira */
  display: flex;         
  flex-direction: column;
  margin: 0;             /* remove margem extra */
}

main {
  flex: 1; /* ocupa o espaço restante, empurrando o footer */
}

body {
    background-color: #e9ecef; /* cinza claro do Bootstrap */
}
